.container{
    display: flex;
    min-height: 92.5%;
    max-height: 93%;
    justify-content: center;
    margin: auto;
    width: 100%;
    justify-content: center;
    filter: var(--overBlur);
}

a{
    position: absolute;
    z-index: 5;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 27%;
    font-size: 200px;
    color: red;
    visibility: var(--isHidden, hidden);
}


#card{
    position: absolute;
    top: 20%;
}
footer{
    margin-top: auto;
}

#test{
    bottom: 0;
    transform: translateY(150px);
    position: absolute;
    z-index: 2;
    transition:all .5s ease-in-out;
    margin-left: 30%;
}

#test:hover{
    transform: translateY(0px); 
}

app-combat-log{
    position: absolute;
}