<body [style.--overBlur]="overBlurVar">
    <a href="/play" [style.--isHidden]="visibilityVictoryVar">{{ result }}</a>
    <a href="/play-menu" [style.--isHidden]="visibilityDefeatVar">{{ result }}</a>

    <div class="container">
        <app-card-holder [card]=cardHolder id="card" [monsterHealth]="monsterHealth"></app-card-holder>
    </div>

    <card-heroes id="hero" [heroesHealth]="playerHealth"></card-heroes>
    <footer>
        <app-player-combat-interface (clicked)="determinePlayerMove($event)"></app-player-combat-interface>
    </footer>
</body>

