
.container{
    display: flex;
    min-height: 92.5%;
    max-height: 93%;
    margin: auto;
    width: 100%;
    justify-content: center;
    filter: var(--overBlur);
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

#card{
    display: flex;
    align-items: center;
}


#victory{
    position: absolute;
    z-index: 5;
    text-decoration: none;
    text-align: center;
    margin-left: 25%;
    margin-top: 15%;
    font-size: calc(100px + 0.390625vw);;
    width: 50%;
    visibility: var(--isHidden, hidden);
    opacity: var(--isOpaq, 0);
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

#defeat{
    position: absolute;
    z-index: 5;
    text-decoration: none;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    font-size: calc(100px + 0.390625vw);;
    width: 50%;
    visibility: var(--isHidden, hidden);
    opacity: var(--isOpaq, 0);
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

footer{
    margin-top: auto;
    bottom: 0;
}

#hero{
    bottom: 0;
    transform: translateY(150px);
    position: absolute;
    z-index: 2;
    transition:all .5s ease-in-out;
    margin-left: 30%;
}

#hero:hover{
    transform: translateY(0px); 
}
