<body [style.--overBlur]="overBlurVar">
        <img src="assets/victory/0.webp"  [style.--isHidden]="visibilityVictoryVar" [style.--isOpaq]="opacityVar" id="victory"/>
        <img src="assets/defeat/0.webp"  [style.--isHidden]="visibilityDefeatVar" [style.--isOpaq]="opacityVar" id="defeat"/>
        
    <app-combat-log [combatLog]="combatLog"></app-combat-log>

    <div class="container col-6 d-flex flex-row flex-wrap gap-2">
            <app-card-holder [card]=cardHolder id="card" [monsterHealth]="monsterHealth"></app-card-holder>
    </div>

    <card-heroes id="hero" [heroesHealth]="playerHealth"></card-heroes>
    <footer>
        <app-player-combat-interface (clicked)="determinePlayerMove($event)" [disabled]="encounterFinished" [skillName]="skillName"></app-player-combat-interface>
    </footer>
</body>

