.container {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 60%;

}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;

}


.row {
    padding: 10px;
    margin: 10px;
    

}

.cards {
    padding: 10px;
    margin: 10px;
    


}
select{
    background-color: lightgray; 
    padding: 10px;
    border: none;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: lightgray;
    color: black;
   
}

.description{
    line-height: 100px;
    text-align: left;
  }

button.btn-invoke {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    float: right;
}