.container{
    margin-top: 2%;
    justify-content: center;    
}

a{
    font-family:'Roboto';
    position: absolute;
    z-index: 5;
    text-decoration: none;
    opacity: var(--isOpaq, 0);
    margin-top: 23%;
    margin-left: 18%;
    font-size: calc(20em + 0.390625vw);
    width: 50%;
    color: #931621;
    visibility: var(--isHidden, hidden);
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.22s;
}

.combatPage{
    height: min-content;
    filter: var(--overBlur);
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
}

#imageRender{
    width: 90%;
    margin-left: 6%;
    margin-top: 0%;
    position: absolute;
    z-index: 5;

    visibility: var(--isHidden, hidden);
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.22s;
}

play-sheet{
    padding: 2%;
    position: absolute;
    z-index: 0;
    transform : translateY(-100%);
    left: 2%;
    height: 50%;
    width: 20%;
    background-color: #D9D9D9;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
}

play-sheet:hover{
    transform : translateY(-20%);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

// #region @MediaScreen
@media (width < 1000px) {
    play-sheet{
        display: none;
    }  

    #imageRender{
        width: 100%;
        margin-left: 2%;
        margin-top: 15% !important;
    }
}

@media (width < 600px) {
    #imageRender{
        width: 150%;
        margin-left: -20%;
        margin-top: 55% !important;
    }
}

// #endregion
