
<img src="assets/combat/0.webp" [style.--isHidden]="visibilityVar" id="combat"/>
<img src="assets/trap/0.webp" [style.--isHidden]="visibilityVar" id="trap"/>


<play-sheet></play-sheet>
<div class="combatPage" [style.--overBlur]="overBlurVar">
  
  <div class="container col-sm-8 col-xl-6 d-flex flex-row flex-wrap gap-1" >
    <div *ngFor="let card of cardTable, let index = index" class="col-3">
      <app-card [card]= cardTable[index] [deActivate]="isActiveMap.get(index)" (flipped)="changeState($event, index,1)" id=index></app-card>
    </div>
  </div>  
</div>