.container{
    width: 100%;
    margin-top: 2%;
    justify-content: center;
    filter: var(--overBlur);
}
@media (width > 1200px) {
    .container{
        width: 50%;
    }  
}

a{
    position: absolute;
    z-index: 5;
    text-decoration: none;
    margin-top: 23%;
    margin-left: 27%;
    font-size: 200px;
    color: red;
    visibility: var(--isHidden, hidden);
}