<div class="container">
    <div class="row justify-content-evenly mb-1">   
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center" >
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
    <div class="row justify-content-evenly mb-1">   
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
    <div class="row justify-content-evenly mb-1">   
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 d-flex justify-content-center ">
            <app-card></app-card>
        </div>
    </div>
</div>