 <div class="hide">
        <div class="hp-damage" role="group">
            <span id="hp">{{ monsterCard?.hp }}</span>

            <span id="damage">{{ monsterCard?.damage }}</span>
        </div>

        <div [ngClass]="(flip == 'active') ? 'img-monster' : ''">
            <img src="assets/placeholder.png" id="imageMonster">
        </div>

        <div class="description">
            <h5 id="cardName">{{ card?.card_name }}</h5>
            <p id="cardDescription">
                {{ card?.description }}
            </p>
        </div>
        <span class="material-symbols-outlined" style="color: #931621;">skull</span>
    </div>