// #region @MediaScreen
// Using for the SVG & font responsivity 
@media (width > 1600px) {
    #triangle {
        width: 102.8%;
    }
    a{font-size: 28px;}
  }

  @media (width > 1400px) {
    #triangle {
        width: 103%;
    }
    a{font-size: 28px;}
  }
@media (width < 1400px) {
    #triangle {
        width: 104%;
    }
    a{font-size: 20px;}
  }
@media (width < 1000px) {
    #triangle {
        width: 105.5%;
    }
    ul{ margin-left: -10%;}
  }
@media (width < 800px) {
    #triangle {
        width: 107%;
    }
  }
@media (width < 500px) {
    #triangle { width: 108% ;}
    a{font-size: 15px;}
    ul{ margin-left: -10%;}
  }
// #endregion

ul{
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;

}

li{
    padding-bottom: 1%;
    margin-right: 10%;
    text-align: center;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color : #525151;
    font-weight: bolder;
}

#Connection{
    padding-top: 2%;
    background-color: #E7E7E7;
    justify-content: center;
    height: 50%;
    border-radius: 25px 25px 0px 0px;
    margin-top: 5%;
    padding-top: 5%;
}

hr{
    border: 1px solid #525151; 
    width: 30%;
    margin-left: 35%;
}

#logo{
    margin-left: 5%;
    width: 70%;
    padding-bottom: 15%;
}

#triangle {
    margin-top: -16%;
    padding-left: 0 !important;
}

#svg{
    padding-left: 0 !important;
}

#brick{
    width:30%;
    transform: translateX(480px);

}



