<main class="container">
    <div class='row '>
        <div id="Connection" class="col col-4 offset-4">
            <ul>
                <li><img src="..\..\..\assets\Mini_castle_noir.png" alt="logo" id="logo"></li>   
                <ng-container>
                    <li><a routerLink={{field1}}>{{ field1 }}</a></li>
                        <li><hr></li>
                    <li ><a routerLink={{field2}}>{{ field2 }}</a></li>
                        <li><hr></li>
                    <li><a routerLink={{field3}}>{{ field3 }}</a></li>
                </ng-container>
            </ul>     
        </div>     
    </div>
    <div class='row'>
        <div class="col col-4 offset-4" id="svg">
            <div id="triangle">
                <img src="..\..\..\assets\home.svg" alt="">
            </div>
        </div>
    </div>
</main>