// #region @MediaScreen
@media (width < 1200px) {
  .card-holder  {
    min-width: 25vw !important;
  }
}

@media (width < 1000px) {
    .card-holder  {
      min-width: 25vw !important;
    }
  }
@media (width < 800px) {
    .card-holder  {
        min-width: 35vw !important;
    }
  }
@media (width < 500px) {
    .card-holder  {
      min-width: 30vw !important;
    }
  }
// #endregion

.card-holder {
    border-radius: 30px 30px 30px 30px  !important;
    max-width: 15vw !important;
    min-height: 45vh !important;
    max-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
  }

ng-template{
    width: 100% !important;
    height: 100% !important;
}