h2{
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

#sheet{
    padding-top: 26%;
}

p{
    font-size: medium;
    text-align: justify;
}

li{
    font-size: medium;
}

// #region @MediaScreen
@media (width < 1800px) {
    #sheet{
        padding-top: 35%;
    }  

    li{
        font-size: medium;
    } 

    p{
        font-size: medium;
    }

    h2{
        margin-top: 10%;
    }
}

@media (width < 1400px) {
    #sheet{
        padding-top: 45%;
    }  

    li{
        font-size: smaller;
    } 

    p{
        font-size: smaller;
    }

    h2{
        font-size: medium;   
        margin-top: 18%;
    }
}

@media (width < 1200px) {
    #sheet{
        padding-top: 35%;
    }  

    li{
        font-size: smaller;
    } 

    p{
        font-size: smaller;
    }

    h2{
        font-size: medium;     
    }

    span{
        font-size: smaller;
    }
}


@media (width < 1100px) {
    #sheet{
        display: none;
    }  
}

// #endregion