h2{
    display: flex;
    justify-content: center;
}

#sheet{
    padding-top: 26%;
}

p{
    font-size: medium;
    text-align: justify;
}

li{
    font-size: medium;
}

@media (width < 1800px) {
    #sheet{
        padding-top: 35%;
    }  

    li{
        font-size: medium;
    } 

    p{
        font-size: medium;
    }
}


@media (width < 1400px) {
    #sheet{
        padding-top: 45%;
    }  

    li{
        font-size: smaller;
    } 

    p{
        font-size: smaller;
    }
}

@media (width < 1200px) {
    #sheet{
        padding-top: 35%;
    }  

    li{
        font-size: smaller;
    } 

    p{
        font-size: smaller;
    }
}


@media (width < 1000px) {
    #sheet{
        display: none;
    }  
}