<div id="sheet">
        <div>
            <p>
                <b>Welcome to our game and thank you to playing it !</b>
            </p>
            <span>
                Here are the rules for a better understanding and a fun game !
            </span>
            <br>
            <br>
            <ul>
                <li><b>Rule 1 :</b> You can only start by the top left card</li>
                <br>
                <li><b>Rule 2 :</b> After the flip one card, you can only flip the right one or the bottom one</li>
                <br>
                <li><b>Rule 3 :</b>You can't go back with and need to continue if you want to survive</li>
                <br>
            </ul>
        </div>

        <h2> Rules Sheet </h2>
</div>