<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-2 col-xl-6 offset-xl-2">
      <div class="row text-center">
        
        <ngb-carousel [keyboard]="true" [interval]="1000000" class="border rounded principal">
          <ng-template ngbSlide *ngFor="let class of classesTable">
            <h2>{{ class.name }}</h2>
            <img src="assets/{{class.imagePath}}"
            
            alt="Random image"/>
            

            <div class="stats" style="color: black">
              <p>Health points : {{ class.base_hp }}</p>
              <p>Armor : {{ class.base_armor }}</p>
              <p>Damage : {{ class.base_damage }}</p>
              
              <button
                type="button"
                class="btn btn-primary btn-sm skill_description"
                placement="top"
                ngbPopover="{{ class.skill_description }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ class.skill_name }}"
                  ><p>{{ class.skill_name  }}</p>
                
              </button><br>
              <button style="margin-bottom: 10%" class="btn btn-danger" id="sClass" (click)='getClass(class.id)'>Select this Class</button>
            </div>

        </ng-template>
        </ngb-carousel>
      
      </div>
    </div>
  </div>
</div>

