.container {
    height: 100%;
}


.principal {
    position: relative !important;
    margin-top: 10vh !important;
    height: 70vh !important;
}

.stats {
    position: absolute !important;
    bottom: 0 !important;
}