<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-2 col-xl-6 offset-xl-3">
      <div class="row text-center">
        <h2>Choose your class</h2>
        <ngb-carousel [keyboard]="true" [interval]="1000000">
          <ng-template ngbSlide *ngFor="let class of classesTable">
            <h3>{{ class.name }}</h3>
            <img src="assets/{{class.imagePath}}"
            
            alt="Random image"/>
            

            <div class="stats" style="color: black">
              <p>Health points : <span class="base">{{ class.base_hp }}</span></p>
              <p>Armor : <span class="base">{{ class.base_armor }}</span></p>
              <p>Damage : <span class="base">{{ class.base_damage }}</span></p>
              
              <button
                type="button"
                class="btn btn-primary btn-sm skill_description"
                placement="top"
                ngbPopover="{{ class.skill_description }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ class.skill_name }}"
                  ><span>{{ class.skill_name  }}</span>
                
              </button><br>
              <button style="margin-bottom: 10%" class="btn btn-danger" id="sClass" (click)='getClass(class.id)'>Select this Class</button>
            </div>

        </ng-template>
        </ngb-carousel>
      
      </div>
    </div>
  </div>
</div>

