<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="row text-center">
        <ngb-carousel [interval]="1000000" class="border rounded bg-secondary">
          <ng-template ngbSlide *ngFor="let class of classes$ | async">
            <h2>{{ class.name }}</h2>
            <img
            src="assets/{{class.imagePath}}"
              style="width: 200px; padding-bottom: 220px"
              alt="Random image"
            />
            <div class="carousel-caption" style="color: black">
              <p>Health points : {{ class.base_hp }}</p>
              <p>Armor : {{ class.base_armor }}</p>
              <p>Damage : {{ class.base_damage }}</p>
              <button
                type="button"
                class="btn btn-dark"
                placement="top"
                ngbPopover="{{ class.skill_description }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ class.skill_name }}"
              >
                {{ class.skill_name  }}
              </button>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>

<app-player-combat-interface id="caca"></app-player-combat-interface>
