// #region @MediaScreen
// Using for the card & font responsivity 
// @media (width > 1600px) {
//     .template-card {
//         border-radius: 30px 30px 30px 30px  !important;
//         width: 15vw;
//         height: 33vh;
//   }
// }
  @media (width > 1400px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 10vw;
        height: 33vh;
    }
  }
@media (width < 1400px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 15vw;
    }
  }
@media (width < 1000px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 20vw;
        //ici
    }
  }
@media (width < 800px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 25vw ;
    }
  }
@media (width < 500px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 30vw;
    }
  }
// #endregion

.template-card {
    border-radius: 30px 30px 30px 30px  !important;
    min-width: 5vw;
    min-height: 5vh !important;
    border: 5px solid #931621;
    // min-width: 20vw !important;
  }


#description{
    margin-left: 2%;
}

#hp-damage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-size: auto;

    #hp{
        background-color: #931621;
        border-radius: 20px 0px 25px 0px;
        padding: 15px 25px 15px 20px;
    }

    #damage{
        justify-content: end;
        background-color: #931621;
        border-radius: 0px 20px 0px 25px;
        padding: 15px 20px 15px 20px;
    }
  }  

img{
    width: 50%;
    margin-left: 20%;
    margin-right: 10px;
}

h5{
    margin-left: 2%;
    font-size: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

p{
    width: auto;
}

.material-symbols-outlined{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-top: -5%;
}

.card_back {
    transition-delay: 0.3s;
    background: #000214;
    border: 5px solid #000214;
    .hide {
        transition-delay: 0.3s;
        visibility: hidden;
    }
    

}

.card_front {
    transition-delay: 0.20s;
    background: white;
    .hide{
        transition-delay: 0.20s;
    }
}

.hide{
    width: auto;
}

