<div class="container">
    <div class="right">
        <div class="form-container">
            <form>
                <div class="cards">
                    <h2>Card Creation</h2>
                    <select name="cards" id="card-select">
                        <option value="">--Choose a Type--</option>
                        <option value="monster">Monster</option>
                        <option value="treasure">Treasure</option>
                        <option value="trap">Trap</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Name" id="name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" placeholder="Damage" id="damage"></div>
                    <div class="col-md-3">
                        <input type="text" placeholder="HP" id="hp">
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Score Value" id="score-value">
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="XP_reward" id="xp-reward">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Description" class="description" id="description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Card_image_path" id="card-image-path">
                    </div>
                </div>
                <button class="btn btn-invoke">Invoke</button>
            </form>
        </div>
    </div>
</div>