// #region @MediaScreen
// Using for the card & font responsivity 
// @media (width > 1600px) {
//     .template-card {
//         border-radius: 30px 30px 30px 30px  !important;
//         width: 15vw;
//         height: 33vh;
//   }
// }
@media (width > 1400px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 10vw;
        height: 30vh;
    }
  }
@media (width < 1400px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 12vw;
    }
  }
@media (width < 1000px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 15vw;
        //ici
    }
  }
@media (width < 800px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 25vw ;
    }
  }
@media (width < 500px) {
    .template-card {
        border-radius: 30px 30px 30px 30px  !important;
        width: 30vw;
    }
  }
// #endregion
@media (width > 1400px) {
    .template-card-heroes {
        border-radius: 30px 30px 30px 30px  !important;
        width: 10vw;
        height: 30vh;
    }
  }
@media (width < 1400px) {
    .template-card-heroes {
        border-radius: 30px 30px 30px 30px  !important;
        width: 12vw;
    }
  }
@media (width < 1000px) {
    .template-card-heroes {
        border-radius: 30px 30px 30px 30px  !important;
        width: 15vw;
        //ici
    }
  }
@media (width < 800px) {
    .template-card-heroes {
        border-radius: 30px 30px 30px 30px  !important;
        width: 25vw ;
    }
  }
@media (width < 500px) {
    .template-card-heroes {
        border-radius: 30px 30px 30px 30px  !important;
        width: 30vw;
    }
  }



.template-card-heroes {
    border-radius: 30px 30px 30px 30px  !important;
    min-width: 5vw;
    min-height: 30vh !important;
    max-height: 30vh !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    // min-width: 20vw !important;
}


.description{
    margin-left: 8%;
    width: 80%;
}

.hp-damage-heroes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-size: auto;

    #hp{
        background-color: black;
        border-radius: 20px 0px 25px 0px;
        padding: 15px 25px 15px 20px;
    }

    #damage{
        justify-content: end;
        background-color: black;
        border-radius: 0px 20px 0px 25px;
        padding: 15px 20px 15px 20px;
    }
  }  

img{
    width: 50%;
    display: flex;
    margin :auto;
}

#heroesName{
    font-size: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}

#heroesSkillDescription{
    font-size: 70%;
    font-weight: bold;
}

#heroesSkillName{
    font-size: 70%;
    margin-bottom: auto;
}

.material-symbols-outlined{
    color: black;
    position: relative;
    margin-top: 10px;
    bottom: 0;
}