@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import 'bootstrap/scss/bootstrap';

.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html,
body {
    height: 100% !important;
    padding-top: 0 !important;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



// #region @MediaScreen
/**
*Use for Custom the Cards Component
**/
.card_back {
    transition-delay: 0.3s;
    background: #000214;
    border: 5px solid #000214;

    .hide {
        transition-delay: 0.3s;
        visibility: hidden;
    }
}

.card_front {
    transition-delay: 0.20s;
    background: white;

    .hide {
        transition-delay: 0.20s;
    }
}

.hide {
    width: auto;
}

.material-symbols-outlined {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-top: -5%;
}

#imageMonster {
    width: 50%;
    margin-left: 20%;
    margin-right: 10px;
}

.description {
    margin-left: 2%;

    #cardName {
        margin-left: 2%;
        font-size: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #cardDescription {
        width: auto;
    }
}

.hp-damage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-size: auto;

    #hp {
        background-color: #931621;
        border-radius: 20px 0px 25px 0px;
        padding: 15px 25px 15px 20px;
    }

    #damage {
        justify-content: end;
        background-color: #931621;
        border-radius: 0px 20px 0px 25px;
        padding: 15px 20px 15px 20px;
    }
}

.trap-damage {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
    font-weight: bolder;
    font-size: auto;

    #damage {
        background-color: #e3c724;
        justify-content: flex-end;
        border-radius: 0px 20px 0px 25px;
        padding: 15px 20px 15px 20px;
    }
}

// #endregion